.App {
  text-align: center;
  min-height: 100vh;
}

.App h1 {
  margin-bottom: 10px;
}

.App header {
  padding: 20px 0;
}

.App .container {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
}

.App ul {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 20px;
  background: var(--grey-color-1);
  border: 3px solid var(--grey-color);
  border-radius: 6px;
  box-sizing: border-box;
}

.App ul li {
  margin-bottom: 15px;
  background: var(--white-color);
  padding: 5px;
  border: 3px solid var(--grey-color);
  border-radius: 6px;
}

.App ul li:last-child {
  margin-bottom: 0;
}
